.container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  height: 400px;
  width: 600px;
}

.logo-and-slogan {
  background-image: url(../assets/wimage.png);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
  background-color: whitesmoke;
  height: 400px;
  width: 340px;
  margin-right: 10px;
}

.forms {
  height: 400px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
  background-color: whitesmoke;
  width: 250px;
  height: 100px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
  background-color: whitesmoke;
  margin-top: 10px;
  width: 250px;
  height: 290px;
}

#search-error,
#change-password-error,
#sign-up-error,
#login-error {
  color: red;
  font-size: small;
}

.form-group {
  margin-top: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  max-width: 130px;
}

select {
  min-width: 130px;
}

input[type="submit"] {
  margin-top: 2px;
  float: right;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
}

.tab {
  overflow: hidden;
  background-color: whitesmoke;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active .active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.manage-account {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
  background-color: whitesmoke;
  width: 250px;
  height: 400px;
}

.user-info {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
  background-color: whitesmoke;
}

.post-text {
  resize: none;
}

.post-button {
  margin: 5px;
  max-width: 100px;
  cursor: pointer;
}

.new-post {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
  background-color: whitesmoke;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 3px;
  background-color: whitesmoke;
  width: 250px;
  height: 75px;
}
